#menu {

    background-color: #970646;

}

.nav-link {
    color: #46b3cf;
}

.custom-search-bg {
    position: absolute;
    width: 100%;
    height: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.video-container {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;

}

.navbar-toggler {
    position:fixed;
    right: 20px;
}

body{
    background-color: #fef4e8;
}

.zoom {
    transition: transform .2s;
}
  
.zoom:hover {
    transform: scale(1.1); 
}

#categorie{

    background-color:#e4c6a3;

}

#plats{

    background-color: #e4c6a3;

}

.parallax {

    background-image: url("/img/Ardoise1.png");
  
    min-height: 50vh;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.parallax2 {

    background-image: url("/img/Ardoise2.png");
  
    min-height: 50vh;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

footer{

    background-color: #46b3cf;

}

.btn{

    background-color: #970646;

}

#PlatCategorie{

    background-color: #e4c6a3
    ;
}

.card{

    width: 40vh;
    background-color: #ddcfaa;

}

#Formulaire{
    background-color: #46b3cf;
}